/* Import Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

:root {
	--gamecell-hover-dark: #5c5c5c54;
	--modal-bg: #411f79;
}

body,
html {
	width: 100%;
	height: 100%;
}

body {
	background-color: #191b1c;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	user-select: none;
}

.header {
	display: flex;
	align-items: center;
	gap: 60px;
	margin-bottom: 20px;
}
.player-score {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
}
.player-info {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}
.player-info img {
	width: 15px;
	height: 15px;
}
.player-score span {
	font-weight: bold;
	margin-top: 5px;
}

.gameboard {
	width: min(90vw, 470px);
	min-height: 70vh;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.gamecell {
	display: flex;
	align-items: center;
	border: #bbbbbb 1px solid;
	justify-content: center;
	cursor: pointer;
}
.gamecell img {
	width: 60px;
	height: 60px;
}
.gamecell:hover {
	background: var(--gamecell-hover-dark);
}

/* Remove outline border */
.gamecell:nth-child(1),
.gamecell:nth-child(2),
.gamecell:nth-child(3) {
	border-top: none;
}

.gamecell:nth-child(3n + 1) {
	border-left: none;
}

.gamecell:nth-child(7),
.gamecell:nth-child(8),
.gamecell:nth-child(9) {
	border-bottom: none;
}

.gamecell:nth-child(3n) {
	border-right: none;
}

.player-turn {
	display: flex;
	align-items: center;
	font-size: 20px;
	margin-top: 20px;
}
.player-turn-status {
	width: 30px;
	margin: 0 5px;
	filter: brightness(0) saturate(100%) invert(29%) sepia(77%) saturate(5193%)
		hue-rotate(348deg) brightness(97%) contrast(106%);
}

.winner-modal {
	transition: 0.2s top ease-in-out;
	position: absolute;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 35vw;
	height: 65vh;
	top: -2000px;
	border-radius: 15px;
	background: var(--modal-bg);
}

.winner-modal-desc, .draw-modal {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 35px;
	gap: 10px;
}
.winner-icon {
	width: 35px;
}
.close-modal-icon {
	position: absolute;
	width: 30px;
	right: 10px;
	top: 10px;
	cursor: pointer;
}

/* Animation's */
.show-modal {
	top: 50%;
	transform: translateY(-50%);
}
.close-modal {
	top: -2000px;
}

.hide {
	display: none;
}

/* Responsive Style's */
@media (max-width: 768px) {
	.winner-modal {
		width: 85vw;
		height: 55vh;
	}
}
